path:
  data: /usr/share/elasticsearch/data
  logs: /usr/share/elasticsearch/logs

{{if .LOCAL_ENV}}
discovery.type: single-node
network.host: 0.0.0.0
{{else}}
#network setup
network.host: {{.HOST_IP}}
transport.bind_host: 0.0.0.0
transport.publish_host: {{.HOST_IP}}
http.bind_host: 0.0.0.0
http.publish_host: {{.HOST_IP}}

#discovery setup
discovery.seed_hosts: "{{.ES_NODES}}"
cluster.initial_master_nodes: "{{.ES_MASTER_NODES}}"

#cluster setup
cluster:
  name: {{.ES_CLUSTER_NAME}}
node:
  name: {{.ES_NODE_NAME}}

#cluster recovery setup
gateway:
  recover_after_nodes: 2
  expected_nodes: 3
  recover_after_time: 5m
{{end}}

http.max_content_length: 500mb
