path:
  data: /usr/share/elasticsearch/data/data
  logs: /usr/share/elasticsearch/data/logs

xpack.security.transport.ssl.enabled: false
xpack.security.enabled: false

{{if .LOCAL_ENV}}
discovery.type: single-node
network.host: 0.0.0.0
{{else}}
#network setup
network.host: {{.HOST_IP}}
transport.bind_host: 0.0.0.0
transport.publish_host: {{.HOST_IP}}
http.bind_host: 0.0.0.0
http.publish_host: {{.HOST_IP}}

# Disable geoip
ingest.geoip.downloader.enabled: false

#discovery setup
discovery.seed_hosts: "{{.ES_NODES}}"
cluster.initial_master_nodes: "{{.ES_MASTER_NODES}}"

# Indices setup
indices.query.bool.max_clause_count: {{.ES_MAX_CLAUSE_COUNT}}

#cluster setup
cluster:
  name: {{.ES_CLUSTER_NAME}}
node:
  name: {{.ES_NODE_NAME}}

#cluster recovery setup
gateway:
  recover_after_data_nodes: 2
  expected_data_nodes: 3
  recover_after_time: 5m
{{end}}

http.max_content_length: 500mb
